<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Access Denied</title>
  <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
  <style>
    body {
      background-color: #f8f9fa;
    }

    .error-container {
      margin-top: 100px;
      text-align: center;
    }

    .error-code {
      font-size: 120px;
      color: #b01a18;
    }

    .error-message {
      font-size: 24px;
      margin-bottom: 40px;
    }

    .back-home {
      color: #007bff;
      text-decoration: none;
      font-weight: bold;
    }

    .back-home:hover {
      text-decoration: underline;
    }
  </style>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-12 error-container">
      <h1 class="error-code">Odmowa dostępu</h1>
      <p class="error-message">Ups! Wygląda na to, że nie masz odpowiednich uprawnień.</p>
      <p>Przepraszamy, ale strona, której szukasz, nie jest dostępna z Twoimi aktualnymi poświadczeniami.</p>
      <a th:href="@{/}" class="back-home">Powrót do strony głównej</a>
    </div>
  </div>
</div>
</body>
</html>