.my-alert{
    padding: 6px;
    margin-bottom: 0;
}
.toast {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(218, 18, 18, 0.7);
    color: #fff;
    padding: 15px 20px;
    border-radius: 5px;
    display: none;
}
.bottom-box {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 500px;
    height: 123px;
    z-index: 999; /* Upewniamy się, że okienko będzie zawsze na wierzchu */
    background-color: #f0f0f0;
}
.my-disabled{
    color: #A9A9A9;
    background-color:#F0F0F0;
    opacity: 0.5;
}

/* Definicja animacji obracania w górę */
@keyframes rotate-up {
    from {
        transform: rotate(0deg); /* Początkowy obrót (0 stopni) */
    }
    to {
        transform: rotate(-180deg); /* Końcowy obrót (-180 stopni) */
    }
}

/* Definicja animacji obracania w dół */
@keyframes rotate-down {
    from {
        transform: rotate(0deg); /* Początkowy obrót (0 stopni) */
    }
    to {
        transform: rotate(180deg); /* Końcowy obrót (180 stopni) */
    }
}

/* Styl dla ikony */
.rotate-up {
    animation: rotate-up 0.5s linear; /* Ustawienie animacji obracania w górę */
}

.rotate-down {
    animation: rotate-down 0.5s linear; /* Ustawienie animacji obracania w dół */
}

