<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Betting Website</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <style>
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-primary bg-light navbar-custom">
    <div class="col-md-4 d-flex flex-wrap justify-content-center align-items-center">
        <ul class="navbar-nav mr-auto mx-4">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Mecze</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/bets}">Twoje zakłady</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/summary}">Podsumowanie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/results}">Wyniki</a>
            </li>
        </ul>
    </div>
    <div class="col-md-4 d-flex flex-wrap align-items-center justify-content-center">
        <a>
            <img width="250" height="50" src="/images/roland-garros-long.png">
        </a>
    </div>
    <div class="col-md-4 d-flex flex-wrap justify-content-center align-items-center">
        <a th:href="@{/account}" class="user-info m-3" style="text-decoration: none; color: black">
            Konto: <strong th:text="${username}"></strong>
            <i class="fa-solid fa-user mx-1"></i>
        </a>

        <form class="mx-4" action="#" th:action="@{/logout}" method="POST">
            <button type="submit" value="Wyloguj się" class="btn btn-outline-danger">
                Wyloguj się
                <i class="fa-solid fa-right-from-bracket mx-2"></i>
            </button>
        </form>
    </div>


</nav>

<div class="mx-3">
    <div class="card mb-4">
        <div class="card-header">
            <div class="d-flex flex-wrap">
                <div class="col-md-3 text-center">
                    <h4>Twoje zakłady</h4>
                </div>
                <div class="col-md-3">
                    <select id="roundSelect" class="form-control mr-2 text-center" name="round">
                        <option th:value="0" disabled selected>Wybierz rundę</option>
                        <option th:each="round : ${rounds}" th:value="${round}"
                                th:text="${matchForHTML.getPolishNameForHTML(round)}"></option>
                    </select>
                </div>
                <div class="col-md-3">
                    <input id="searchText" oninput="filterMatchesAtpWtaAndRound('bet',true,true)" type="text" class="form-control text-center" placeholder="Wyszukaj mecz">
                </div>
                <div class="col-md-3 text-center d-flex justify-content-center align-items-center">
                    <div class="form-check mx-4">
                        <input class="form-check-input" type="checkbox" value="" id="atpCheckbox" th:checked="${true}">
                        <label class="form-check-label" for="atpCheckbox">
                            <img src="/images/atp.png" height="20" width="42">
                        </label>
                    </div>
                    <div class="form-check mx-4">
                        <input class="form-check-input" type="checkbox" value="" id="wtaCheckbox" th:checked="${true}">
                        <label class="form-check-label" for="wtaCheckbox">
                            <img src="/images/wta.png" height="20" width="47">
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div th:each="bet : ${bets}" th:id="'bet' + ${bet.id}" th:data-bet="${bet}" th:data-player-firstname-1="${bet.match.player1.firstName}" th:data-player-lastname-1="${bet.match.player1.lastName}" th:data-player-firstname-2="${bet.match.player2.firstName}" th:data-player-lastname-2="${bet.match.player2.lastName}" th:data-bet-match="${bet.match}" th:data-bet-match-date="${bet.match.matchDate}" th:data-bet-match-time="${bet.match.matchTime}" th:data-bet-match-score="${bet.match.score}" th:data-bet-id="${bet.id}" th:data-atp="${bet.match.atp}" th:data-round="${bet.match.round}">
                <div class="card col-md-12 mb-2">
                    <div class="card-header text-center d-flex">
                        <div class="col-sm-1 d-flex align-items-center justify-content-center">
                            <th:block th:if="${bet.match.atp}">
                                <img src="/images/atp.png" height="20" width="42">
                            </th:block>
                            <th:block th:if="${!bet.match.atp}">
                                <img src="/images/wta.png" height="20" width="47">
                            </th:block>
                        </div>
                        <div class="col-sm-4"
                             th:text="${bet.match.matchDate.toString() + ' ' + bet.match.matchTime.toString()}">
                        </div>
                        <div class="col-sm-1 d-flex align-items-center justify-content-center" style="margin-left: -10px">
                            <i th:id="'liveIcon'+${bet.id}" class="fa-regular fa-circle-dot" style="color: red;display: none"></i>
                        </div>
                        <div class="col-sm-1 d-flex align-items-center justify-content-center">

                        </div>
                        <div class="col-sm-4">
                            Zakład
                        </div>
                        <div class="col-sm-1 d-flex align-items-center justify-content-end">
                            <form th:id="'form'+${bet.id}" method="post" th:action="@{/bets/delete}">
                                <input type="hidden" name="id" th:value="${bet.id}">
                                <button type="submit" th:id="'deleteBetButton'+${bet.id}" class="btn btn-danger d-flex align-items-center justify-content-center" style="height: 20px" title="Usuń zakład">
                                    <i class="fa-solid fa-xmark"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="d-flex flex-wrap">
                                    <div class="col-sm-2">
                                        <input class="form-control text-center" readonly
                                               th:value="${bet.match.player1Odds}">
                                    </div>
                                    <div class="col-sm-4">
                                        <th:block th:if="${bet.match.winner == null}">
                                            <input readonly th:id="'Bet'+ ${bet.id}+'Player1NameBox'"
                                                   th:value="${bet.match.player1.firstName + ' ' + bet.match.player1.lastName}"
                                                   class="form-control text-center fw-bold">
                                        </th:block>
                                        <th:block th:if="${bet.match.winner != null}">
                                            <th:block th:if="${bet.betOnPlayer.id == bet.match.player1.id}">
                                                <th:block th:if="${bet.betOnPlayer.id == bet.match.winner.id}">
                                                    <input readonly th:id="'Bet'+ ${bet.id}+'Player1NameBox'"
                                                           th:value="${bet.match.player1.firstName + ' ' + bet.match.player1.lastName}"
                                                           class="form-control text-center fw-bold alert alert-success my-alert">
                                                </th:block>
                                                <th:block th:if="${bet.betOnPlayer.id != bet.match.winner.id}">
                                                    <input readonly th:id="'Bet'+ ${bet.id}+'Player1NameBox'"
                                                           th:value="${bet.match.player1.firstName + ' ' + bet.match.player1.lastName}"
                                                           class="form-control text-center fw-bold alert alert-danger my-alert">
                                                </th:block>
                                            </th:block>
                                            <th:block th:if="${bet.betOnPlayer.id != bet.match.player1.id}">
                                                <input readonly th:id="'Bet'+ ${bet.id}+'Player1NameBox'"
                                                       th:value="${bet.match.player1.firstName + ' ' + bet.match.player1.lastName}"
                                                       class="form-control text-center fw-bold">
                                            </th:block>
                                        </th:block>
                                    </div>
                                    <div class="col-sm-4">
                                        <th:block th:if="${bet.match.winner == null}">
                                            <input readonly th:id="'Bet'+ ${bet.id}+'Player2NameBox'"
                                                   th:value="${bet.match.player2.firstName + ' ' + bet.match.player2.lastName}"
                                                   class="form-control text-center fw-bold">
                                        </th:block>
                                        <th:block th:if="${bet.match.winner != null}">
                                            <th:block th:if="${bet.betOnPlayer.id == bet.match.player2.id}">
                                                <th:block th:if="${bet.betOnPlayer.id == bet.match.winner.id}">
                                                    <input readonly th:id="'Bet'+ ${bet.id}+'Player2NameBox'"
                                                           th:value="${bet.match.player2.firstName + ' ' + bet.match.player2.lastName}"
                                                           class="form-control text-center fw-bold alert alert-success my-alert">
                                                </th:block>
                                                <th:block th:if="${bet.betOnPlayer.id != bet.match.winner.id}">
                                                    <input readonly th:id="'Bet'+ ${bet.id}+'Player2NameBox'"
                                                           th:value="${bet.match.player2.firstName + ' ' + bet.match.player2.lastName}"
                                                           class="form-control text-center fw-bold alert alert-danger my-alert">
                                                </th:block>
                                            </th:block>
                                            <th:block th:if="${bet.betOnPlayer.id != bet.match.player2.id}">
                                                <input readonly th:id="'Bet'+ ${bet.id}+'Player2NameBox'"
                                                       th:value="${bet.match.player2.firstName + ' ' + bet.match.player2.lastName}"
                                                       class="form-control text-center fw-bold">
                                            </th:block>
                                        </th:block>
                                    </div>
                                    <div class="col-sm-2">
                                        <input class="form-control text-center" readonly
                                               th:value="${bet.match.player2Odds}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="d-flex flex-wrap justify-content-center align-content-center">
                                    <div class="col-sm-3">
                                        <input class="form-control fw-bold text-center" value="Zawodnik">
                                    </div>
                                    <div class="col-sm-7">
                                        <input class="form-control text-center" th:value="${bet.betOnPlayer.firstName + ' ' + bet.betOnPlayer.lastName}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="d-flex flex-wrap">
                                    <div class="col-sm-2">
                                        <input th:if="${bet.betOnPlayer.id eq bet.match.player1.id}" th:id="'inputMatch' + ${bet.match.id} + 'player1'"
                                               class="col-sm-2 form-control text-center fw-bold" type="text" th:value="${bet.amount}" readonly>
                                        <input th:if="${bet.betOnPlayer.id != bet.match.player1.id}" th:id="'inputMatch' + ${bet.match.id} + 'player1'"
                                               class="col-sm-2 form-control text-center" type="text" readonly>
                                    </div>
                                    <div class="col-sm-8">
                                        <input class="col-sm-8 form-control text-center" readonly
                                               th:value="${bet.match.score != null ? bet.match.score : ''}">
                                    </div>
                                    <div class="col-sm-2">
                                        <input th:if="${bet.betOnPlayer.id eq bet.match.player2.id}" th:id="'inputMatch' + ${bet.match.id} + 'player2'"
                                               class="col-sm-2 form-control text-center fw-bold" type="text" th:value="${bet.amount}" readonly>
                                        <input th:if="${bet.betOnPlayer.id != bet.match.player2.id}" th:id="'inputMatch' + ${bet.match.id} + 'player2'"
                                               class="col-sm-2 form-control text-center" type="text" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="d-flex flex-wrap justify-content-center align-content-center">
                                    <div class="col-sm-3">
                                        <input class="form-control fw-bold text-center" value="Wartość">
                                    </div>
                                    <div class="col-sm-2">
                                        <input class="form-control text-center" th:value="${bet.amount}">
                                    </div>
                                    <div class="col-sm-3">
                                        <input class="form-control fw-bold text-center" value="Ew. wygrana">
                                    </div>
                                    <div class="col-sm-2">
                                        <input class="form-control text-center" th:value="${bet.expectedWin}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-3">
            </div>
        </div>
        <div class="card-footer text-center">
            <p class="fst-italic">Roland Garros 2024 Paris</p>
        </div>
    </div>

</div>
<script src="/js/classes.js"></script>
<script src="/js/MatchFiltersAtpWtaRoundFunction.js"></script>
<script>
    document.getElementById('atpCheckbox').addEventListener('change', ()=>filterMatchesAtpWtaAndRound('bet',true,true));
    document.getElementById('wtaCheckbox').addEventListener('change', ()=>filterMatchesAtpWtaAndRound('bet',true,true));
    document.getElementById('roundSelect').addEventListener('change', ()=>filterMatchesAtpWtaAndRound('bet',true,true));

    filterMatchesAtpWtaAndRound('bet',true,true);
</script>
<script src="/js/handleDisableBet.js"></script>
</body>
</html>