<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Betting Website</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <style>
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-primary bg-light navbar-custom">
    <div class="col-md-4 d-flex flex-wrap justify-content-center align-items-center">
        <ul class="navbar-nav mr-auto mx-4">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Mecze</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Podsumowanie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Konto</a>
            </li>
        </ul>
    </div>
    <div class="col-md-4 d-flex flex-wrap align-items-center justify-content-center">
        <a>
            <img width="250" height="50" src="/images/roland-garros-long.png">
        </a>
    </div>
    <div class="col-md-4 d-flex flex-wrap justify-content-center align-items-center">
        <div class="user-info m-3">
            Konto: <strong th:text="${username}"></strong>
            <i class="fa-solid fa-user mx-1"></i>
        </div>

        <form class="mx-4" action="#" th:action="@{/logout}" method="POST">
            <button type="submit" value="Wyloguj się" class="btn btn-outline-danger">
                Wyloguj się
                <i class="fa-solid fa-right-from-bracket mx-2"></i>
            </button>
        </form>
    </div>


</nav>

<div class="mx-3">
    <div class="card mb-4">
        <div class="card-header">
            <div class="d-flex flex-wrap">
                <div class="col-md-4 text-center">
                    <h4 th:text="${matchForHTML.getPolishNameForHTML(round)}"></h4>
                </div>
                <div class="col-md-4">
                    <select id="roundSelect" class="form-control mr-2 text-center" name="round">
                        <option th:value="0" disabled selected>Wybierz rundę</option>
                        <option th:each="round : ${rounds}" th:value="${round}"
                                th:text="${matchForHTML.getPolishNameForHTML(round)}"></option>
                    </select>
                </div>
                <div class="col-md-4 text-center d-flex justify-content-center align-items-center">
                    <div class="form-check mx-4">
                        <input class="form-check-input" type="checkbox" value="" id="atpCheckbox" th:checked="${atpChecked}">
                        <label class="form-check-label" for="atpCheckbox">
                            <img src="/images/atp.png" height="20" width="42">
                        </label>
                    </div>
                    <div class="form-check mx-4">
                        <input class="form-check-input" type="checkbox" value="" id="wtaCheckbox" th:checked="${wtaChecked}">
                        <label class="form-check-label" for="wtaCheckbox">
                            <img src="/images/wta.png" height="20" width="47">
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="d-flex flex-wrap justify-content-center">
                <div class="card col-md-6 mb-2" th:each="match : ${matches}" th:id="'match' + ${match.id}" th:data-atp="${match.atp}">
                    <div class="card-header text-center d-flex">
                        <div class="col-sm-2 d-flex align-items-center justify-content-center">
                            <th:block th:if="${match.atp}">
                                <img src="/images/atp.png" height="20" width="42">
                            </th:block>
                            <th:block th:if="${!match.atp}">
                                <img src="/images/wta.png" height="20" width="47">
                            </th:block>
                        </div>
                        <div class="col-sm-8" th:text="${match.matchDate.toString() + ' ' + match.matchTime.toString()}">

                        </div>
                        <div class="col-sm-2 d-flex align-items-center justify-content-center">
                            <i class="fa-solid fa-check"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="d-flex flex-wrap">
                                    <div class="col-sm-2">
                                        <input class="form-control text-center" readonly
                                               th:value="${match.player1Odds}">
                                    </div>
                                    <div class="col-sm-4">
                                        <input readonly
                                               th:value="${match.player1.firstName + ' ' + match.player1.lastName}" th:classappend="${match.player1 eq match.winner} ? 'form-control text-center fw-bold alert alert-success my-alert' : 'form-control text-center fw-bold'">
                                    </div>
                                    <div class="col-sm-4">
                                        <input readonly
                                               th:value="${match.player2.firstName + ' ' + match.player2.lastName}" th:classappend="${match.player2 eq match.winner} ? 'form-control text-center fw-bold alert alert-success my-alert' : 'form-control text-center fw-bold'">
                                    </div>
                                    <div class="col-sm-2">
                                        <input class="form-control text-center" readonly
                                               th:value="${match.player2Odds}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="d-flex flex-wrap">
                                    <div class="col-sm-2">
<!--                                        <th:block th:if="${match.bets.size()!=0}">-->
<!--                                            <th:block th:if="${match.bets.get(0).betOnPlayer eq match.player1}">-->
<!--                                                <input th:value="${match.bets.get(0).amount}" th:id="'inputMatch' + ${match.id} + 'player1'" class="col-sm-2 form-control text-center" type="text" placeholder="Obstaw" oninput="validateInput(this)">-->
<!--                                            </th:block>-->
<!--                                            <th:block th:if="${match.bets.get(0).betOnPlayer != match.player1}">-->
<!--                                                <input th:id="'inputMatch' + ${match.id} + 'player1'" class="col-sm-2 form-control text-center" type="text" placeholder="Obstaw" oninput="validateInput(this)">-->
<!--                                            </th:block>-->
<!--                                        </th:block>-->
<!--                                        <th:block th:if="${match.bets.size()==0}">-->
<!--                                            <input th:id="'inputMatch' + ${match.id} + 'player1'" class="col-sm-2 form-control text-center" type="text" placeholder="Obstaw" oninput="validateInput(this)">-->
<!--                                        </th:block>-->
                                        <input th:id="'inputMatch' + ${match.id} + 'player1'" class="col-sm-2 form-control text-center" type="text" placeholder="Obstaw" oninput="validateInput(this)">

                                    </div>
                                    <div class="col-sm-8">
                                        <input class="col-sm-8 form-control text-center" readonly th:value="${match.score != null ? match.score : ''}">
                                    </div>
                                    <div class="col-sm-2">
<!--                                        <th:block th:if="${match.bets.size()==1}">-->
<!--                                            <th:block th:if="${match.bets.get(0).betOnPlayer eq match.player2}">-->
<!--                                                <input th:value="${match.bets.get(0).amount}" th:id="'inputMatch' + ${match.id} + 'player2'" class="col-sm-2 form-control text-center" type="text" placeholder="Obstaw" oninput="validateInput(this)">-->
<!--                                            </th:block>-->
<!--                                            <th:block th:if="${match.bets.get(0).betOnPlayer != match.player2}">-->
<!--                                                <input th:id="'inputMatch' + ${match.id} + 'player2'" class="col-sm-2 form-control text-center" type="text" placeholder="Obstaw" oninput="validateInput(this)">-->
<!--                                            </th:block>-->
<!--                                        </th:block>-->
<!--                                        <th:block th:if="${match.bets.size()==0}">-->
<!--                                            <input th:id="'inputMatch' + ${match.id} + 'player2'" class="col-sm-2 form-control text-center" type="text" placeholder="Obstaw" oninput="validateInput(this)">-->
<!--                                        </th:block>-->
                                        <input th:id="'inputMatch' + ${match.id} + 'player2'" class="col-sm-2 form-control text-center" type="text" placeholder="Obstaw" oninput="validateInput(this)">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <p class="fst-italic">Roland Garros 2024 Paris</p>
        </div>
    </div>

</div>
<div class="card bottom-box" id="bottom-box">
    <div class="card-header">
            <div class="col-sm-12 d-flex align-items-center">
                <div class="col-sm-8 ">
                    <div th:text="'Cześć, ' + ${userDetails.firstName} + '! Gotowy obstawić mecze?'"></div>
                </div>
                <div class="col-sm-4">
                    <button id="saveBtn" class="btn btn-success w-100" onclick="submitPoints()">Zapisz</button>
                </div>
            </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="d-flex flex-wrap">
                    <div class="col-sm-4">
                        <div class="form-control text-center">Twoje punkty:</div>
                    </div>
                    <div class="col-sm-2">
                        <div id="currentPoints" class="form-control text-center" th:text="${userDetails.points}"></div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-control text-center">Punkty zainw.</div>
                    </div>
                    <div class="col-sm-2">
                        <div id="investedPoints" class="form-control text-center">0</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="toast" class="toast text-center"></div>
<script src="/js/handleRoundSelectChange.js"></script>
<script src="/js/handleAddingPointsToBet.js"></script>
<script src="/js/handleMatchFilters.js"></script>
<script src="/js/handlePointsSubmission.js"></script>
<script src="/js/classes.js"></script>
<script th:inline="javascript">

    var matches = /*[[${matches}]]*/ [];

    for(let match of matches){
        for(let bet of match.bets){
            const inputPlayer1 = document.getElementById('inputMatch'+match.id+'player1');
            const inputPlayer2 = document.getElementById('inputMatch'+match.id+'player2');
            if(bet.betOnPlayer.id === match.player1.id){
                inputPlayer1.value = bet.amount;
            }
            else if(bet.betOnPlayer.id === match.player2.id){
                inputPlayer2.value = bet.amount;
            }
            else{
                console.log("Błąd");
            }
        }
    }

</script>
</body>
</html>