<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Betting Website</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <style>
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-primary bg-light navbar-custom">
    <div class="col-md-4 d-flex flex-wrap justify-content-center align-items-center">
        <ul class="navbar-nav mr-auto mx-4">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Mecze</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/bets}">Twoje zakłady</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/summary}">Podsumowanie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Wyniki</a>
            </li>
        </ul>
    </div>
    <div class="col-md-4 d-flex flex-wrap align-items-center justify-content-center">
        <a>
            <img width="250" height="50" src="/images/roland-garros-long.png">
        </a>
    </div>
    <div class="col-md-4 d-flex flex-wrap justify-content-center align-items-center">
        <a th:href="@{/}" class="user-info m-3" style="text-decoration: none; color: black">
            Konto: <strong th:text="${username}"></strong>
            <i class="fa-solid fa-user mx-1"></i>
        </a>

        <form class="mx-4" action="#" th:action="@{/logout}" method="POST">
            <button type="submit" value="Wyloguj się" class="btn btn-outline-danger">
                Wyloguj się
                <i class="fa-solid fa-right-from-bracket mx-2"></i>
            </button>
        </form>
    </div>


</nav>

<div class="mx-3">
    <div class="card mb-4">
        <div class="card-header">
            <div class="d-flex flex-wrap">
                <div class="col-md-4 text-center">
                    <h4>Zakłady uczestników</h4>
                </div>
                <div class="col-md-4">
                    <select id="roundSelect" class="form-control mr-2 text-center" name="round">
                        <option th:value="0" disabled selected>Wybierz rundę</option>
                        <option th:each="round : ${rounds}" th:value="${round}"
                                th:text="${matchForHTML.getPolishNameForHTML(round)}"></option>
                    </select>
                </div>
                <div class="col-md-4 text-center d-flex justify-content-center align-items-center">
                    <div class="form-check mx-4">
                        <input class="form-check-input" type="checkbox" value="" id="atpCheckbox" th:checked="${true}">
                        <label class="form-check-label" for="atpCheckbox">
                            <img src="/images/atp.png" height="20" width="42">
                        </label>
                    </div>
                    <div class="form-check mx-4">
                        <input class="form-check-input" type="checkbox" value="" id="wtaCheckbox" th:checked="${true}">
                        <label class="form-check-label" for="wtaCheckbox">
                            <img src="/images/wta.png" height="20" width="47">
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div th:each="match : ${matchesWithBets}" th:id="'match'+${match.id}" th:data-round="${match.round}" th:data-atp="${match.atp}" th:data-match-date="${match.matchDate}" th:data-match-time="${match.matchTime}" th:data-match-id="${match.id}" th:data-match-score="${match.score}">
                <div class="col-md-12 d-flex flex-wrap justify-content-center">
                    <div class="card col-md-6 mb-2">
                        <div class="card-header text-center d-flex">
                            <div class="col-sm-2 d-flex align-items-center justify-content-center">
                                <th:block th:if="${match.atp}">
                                    <img src="/images/atp.png" height="20" width="42">
                                </th:block>
                                <th:block th:if="${!match.atp}">
                                    <img src="/images/wta.png" height="20" width="47">
                                </th:block>
                            </div>
                            <div class="col-sm-8" th:text="${match.matchDate.toString() + ' ' + match.matchTime.toString()}">

                            </div>
                            <div class="col-sm-2 d-flex align-items-center justify-content-center">
                                <i th:id="'liveIcon'+${match.id}" class="fa-regular fa-circle-dot" style="color: red;display: none"></i>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="d-flex flex-wrap">
                                        <div class="col-sm-2">
                                            <input class="form-control text-center" readonly
                                                   th:value="${match.player1Odds}">
                                        </div>
                                        <div class="col-sm-4">
                                            <input readonly
                                                   th:value="${match.player1.firstName + ' ' + match.player1.lastName}" th:classappend="${match.player1 eq match.winner} ? 'form-control text-center fw-bold alert alert-success my-alert' : 'form-control text-center fw-bold'">
                                        </div>
                                        <div class="col-sm-4">
                                            <input readonly
                                                   th:value="${match.player2.firstName + ' ' + match.player2.lastName}" th:classappend="${match.player2 eq match.winner} ? 'form-control text-center fw-bold alert alert-success my-alert' : 'form-control text-center fw-bold'">
                                        </div>
                                        <div class="col-sm-2">
                                            <input class="form-control text-center" readonly
                                                   th:value="${match.player2Odds}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="d-flex flex-wrap">
                                        <div class="col-sm-2">
                                            <input class="form-control" readonly>
                                        </div>
                                        <div class="col-sm-8">
                                            <input class="col-sm-8 form-control text-center" readonly th:value="${match.score != null ? match.score : ''}">
                                        </div>
                                        <div class="col-sm-2">
                                            <input class="form-control" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card col-md-6 mb-2">
                        <div class="container mt-3 mb-3" th:id="'otherBets'+${match.id}">
                            <div th:each="bet : ${match.bets}">
                                <div class="col-md-12 d-flex">
                                    <th:block th:if="${match.winner == null}">
                                        <input class="form-control text-center" readonly th:value="${bet.user.userDetails.firstName + ' ' + bet.user.userDetails.lastName}">
                                        <input class="form-control text-center fw-bold" readonly th:value="${bet.amount}" >
                                        <input class="form-control text-center fw-bold" readonly th:value="${bet.betOnPlayer.firstName + ' ' + bet.betOnPlayer.lastName}" >
                                    </th:block>
                                    <th:block th:if="${match.winner != null}">
                                        <input class="form-control text-center" readonly th:value="${bet.user.userDetails.firstName + ' ' + bet.user.userDetails.lastName}">
                                        <input class="form-control text-center fw-bold" readonly th:value="${bet.amount}" th:classappend="${bet.betOnPlayer.id eq match.winner.id} ? 'alert alert-success my-alert' : 'alert alert-danger my-alert'">
                                        <input class="form-control text-center fw-bold" readonly th:value="${bet.betOnPlayer.firstName + ' ' + bet.betOnPlayer.lastName}" th:classappend="${bet.betOnPlayer.id eq match.winner.id} ? 'alert alert-success my-alert' : 'alert alert-danger my-alert'">
                                    </th:block>
                                </div>
                            </div>
                        </div>
                        <div class="container mt-3 mb-3 h-100" th:id="'info'+${match.id}" style="display: none">
                            <div class="d-flex justify-content-center align-items-center">
                                <p>Zakłady pozostałych uczestników zostaną udostępnione po rozpoczęciu meczu</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <p class="fst-italic">Roland Garros 2024 Paris</p>
        </div>
    </div>

</div>
<script src="/js/handleShowOtherBets.js"></script>
<script src="/js/handleBetSearch.js"></script>
<script>

    document.getElementById('atpCheckbox').addEventListener('change', ()=>filterMatchesAtpWtaAndRound('match'));
    document.getElementById('wtaCheckbox').addEventListener('change', ()=>filterMatchesAtpWtaAndRound('match'));
    document.getElementById('roundSelect').addEventListener('change', ()=>filterMatchesAtpWtaAndRound('match'));

    filterMatchesAtpWtaAndRound('match');
</script>
</body>
</html>